#calendar {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Encabezado  */
.fc .fc-toolbar-title {
  color: #1d2a41; /* título del mes */
}

.fc .fc-button {
  background-color: #1d2a41;
  border: none;
  color: white;
}

.fc .fc-button:hover {
  background-color: #24334f; /* un tono un poquito más claro */
}

/* Nombres de los días (Lun, Mar, etc.) */
.fc .fc-col-header-cell {
  background-color: #1d2a41;
  color: white;
}

/* Evento dentro del calendario */
.fc-event {
  background-color: #1d2a41;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 2px 4px;
}
